.nevada_wrapper {
    padding: 30px 0 0 0;
    width: 1550px;
    height: 480px;
}

.title {
    font-size: 57px;
    font-weight: 900;
}

.redemption_speaks p {
    font-size: 26px;
    font-weight: 400;
}

.nevada_img {
    width: 100%;
}

.infonrmation h5 {
    margin: auto;
    margin-top: 15px;
}

.infonrmation h2 {
    margin: auto;
}

.infonrmation p {
    padding: 0 100px 0 0;
}

.btn_all {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
}

.view_all {
    color: #02b1f0;
    font-size: 45px;
    font-weight: 700;
    margin-right: 250px;
}
